<!DOCTYPE html>
<html>
    <head>
        <title>User Signup Form</title>
        <style type="text/css">
            .error {
                color: red;
            }
            .check{
                margin-top:10px;
                margin-bottom:10px;
            }
            .check p{
                display:inline;
             }
            
        </style>
    </head>
    <body>
        <h1>
            <a href="/">User Signup Form</a>
        </h1>

        {% block content %}
        {% endblock %}

    </body>
</html>
